section#about{
  height: 100vh;
  box-sizing: border-box;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#about .wrap{
  
}
section#about .wrap h2{
 border-bottom: 3px solid;
  animation-name: h2Up;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction:  reverse;
}
@keyframes h2Up{
  0%{
   transform: translateY(0); 
   opacity: 1;
  }
  100%{
   transform: translateY(20px); 
   opacity: 0; 
  }
}
section#about .wrap h2:before{
   content: "# ";
   color: #403F39;
   font-size: 25px;
   height: 3px;
   width: 60px;
   margin-bottom: 10px; 
}
section#about .profile{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 20px;
}
section#about .profile .left{
  grid-column: 1;
  grid-row: 1 / span 2;
  /*! position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#about .profile .left img{ 
  width: 400px;
  border-radius: 10%;
  margin-top: 20px;
}
section#about .profile .left ul{  
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
section#about .profile .left ul li{

  /*! background-color: #a09b91; */
  color: white;
}
section#about .profile .left ul li a{ 
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 19px;
  display: block;
  line-height: 40px;
  text-align: center;
  color: #333;
  font-weight: 500;
  border: 1px solid #403f39;
}
section#about .profile .left ul li a:hover{ 
  background-color: #403f39;
  color: white;
}
section#about .profile .ab{
  grid-column: 2;
  grid-row: 1;
}
section#about .profile .ab h3{  
  margin: 50px 0 10px 0;
  color: #403f39;
  font-weight: bold;
}
section#about .profile .ab ul{
  color: #4d473c;
  font-size: 16px;
}
section#about .profile .ab ul li{
  line-height: 1.8;
  font-size: 20px;
}

section#about .profile .ej{
  grid-column: 2;
  grid-row: 2;
}
section#about .profile .ej h3{
 font-weight: bold;
  margin-bottom: 10px;
}
section#about .profile .ej h3:nth-child(3){  
  margin-top: 50px;
}
section#about .profile .ej ul{  
  color: #4d473c;
  font-size: 16px;
}
section#about .profile .ej ul li{
  line-height: 1.8;
  font-size: 20px;
}
section#about .profile .cre{
  grid-column: 3;
  grid-row: 1 / span2;
}
section#about .profile .cre h3{  
  margin: 50px 0 10px 0;
  font-weight: bold;
}
section#about .profile .cre ul{
  color: #4d473c;
  font-size: 16px;
}
section#about .profile .cre ul li{
  line-height: 2;
  font-size: 20px;
}

section#about ul{
  padding: 0;
}

