/* 상단영역 */
header{
   height: 85px;
   position: fixed;
   width: 100%;   
   z-index: 1;
}
header .wrap{
   display: grid;
   grid-template-columns: 1fr auto;
   align-items: center;
   height: 100%;
}
header h1{
  
}
header h1 a{
   font-size: 0;
   width:74px;
   height: 64px;
   background-image: url(../img/rogo2.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   display: block;
}
header ul{   
   display: flex;
   height: 100%;
}
header ul li{
   text-transform: uppercase;
}
header ul li a{
   color: #403F39;
   text-transform: uppercase;
   font-family: 'Noto Serif Balinese', serif;
   padding: 6px 25px;
   height: 100%;
   display: block;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   font-size: 23px;   
   transition: 0.5s;
}
header ul li a:hover{
   opacity: 0.5;
   transform: scale(1.2);
}
.current{
   text-decoration: underline;
   color: yellowgreen;
}