section#portfolio{
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 700px;
  background-image: url(../img/back.jpg);
  background-size: cover;
}
section#portfolio .wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#portfolio .wrap h2{
   border-bottom: 3px solid;
   margin-bottom: 20px;
}
section#portfolio .wrap h2:before{
   content: "# ";
   color: #403F39;
   font-size: 25px;
}
section#portfolio .wrap ul.menu{
  display: none;
}
section#portfolio .wrap ul.menu li{
  
}
section#portfolio .wrap ul.menu li a{
  color: #5b554b;
  font-weight: bold;
  font-size: 19px;
}
section#portfolio .wrap ul.menu li:not(:first-child) a::before{
  content: '';
  border-left: 2px solid #5b554b;
  margin: 0 10px;
}
section#portfolio .wrap ul.list{
  width: 100%;
}
section#portfolio .slick-track{
  margin-top: 25px;
}
section#portfolio .wrap ul.list li{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
  grid-template-rows: auto auto;
  width: 100%;
}
section#portfolio .wrap ul.list li img{
  grid-column: 2;
  width: 450px;
}
section#portfolio .wrap ul.list li ul{
  padding: 0;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
}
section#portfolio .wrap ul.list li ul li.h3{
  font-size: 45px;
  font-weight: bold;
  grid-column: 1 / span 2;
  padding-bottom: 10px;
}
section#portfolio .wrap ul.list li ul li{  
  font-size: 23px;
  grid-column: 1 / span 2;
}
section#portfolio .wrap ul.list li ul a{  
  background-color: transparent;
  border: 1px solid #403f39;
  border-radius: 10px;
  font-size: 15px;
  display: block;
  margin-top: 40px;
  width: 144px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  color: #333;
}

/* 슬릭 */
section#portfolio .slick-dots{
  display: flex;
  top: -20px;
  width: 75%;
  /*! position: static; */
}
section#portfolio .slick-dots li button::before{
  font-size: 18px;
  width: 88%;
  opacity: .45;
  font-family: 'Noto Sans KR', sans-serif;
}
section#portfolio .slick-dots li.slick-active button::before{
  opacity: .75;
  display: block;
  border-bottom: 1px solid;
  height: 30px;
  transform: scale(1.2);
  font-weight: 600;
}
section#portfolio .slick-dots li:nth-child(1) button::before{
  content: "ACCUNIQ";
}
section#portfolio .slick-dots li:nth-child(2) button::before{
  content: "L.POINT";
}
section#portfolio .slick-dots li:nth-child(3) button::before{
  content: "HB PAPER";
}
section#portfolio .slick-dots li:nth-child(4) button::before{
  content: "HITE 진로";
}
section#portfolio .slick-dots li:nth-child(5) button::before{
  content: "HB 리뉴얼";
}
section#portfolio .slick-dots li:nth-child(6) button::before{
  content: "VOGUE";
}
section#portfolio .slick-dots li:nth-child(7) button::before{
  content: "COACHYOU";
}
section#portfolio .slick-dots li:nth-child(8) button::before{
  content: "한강식품";
}
section#portfolio .slick-dots li:nth-child(9) button::before{
  content: "쁨클리닉";
}
section#portfolio .slick-next::before{
  background-image: url(../img/right.svg);
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
}
section#portfolio .slick-prev::before{
  background-image: url(../img/left.svg);
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
}





