@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .wrap{
    padding: 0 20px;
    width: 100% !important;
  }
  .h2{
    font-size: calc(70px * 0.7);
    text-align: center;
    }
  .h3{
    font-size: calc(40px * 0.6);
   }
  /* 상단영역   */
  header{    
    background-color: #fff;
    padding: 10px 0;
    z-index: 2;
    height: 75px;
  }
  header .wrap{   
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header h1{    
    padding-bottom: 5px;
  }
  header h1 a{   
    width: calc(74px * 0.6);
    height: calc(64px * 0.6);
  }
  header ul{
    height: fit-content;
    padding-top: 10px;
  }
  header ul li a{   
    font-size: calc(23px * 0.6);
    padding: 0px 8px;
  }
  header ul li a:hover{
    transform: scale(1);
  }
  /*  타이틀 영역  */
  div#title div.wrap{ 
    width: 100%;
  }
  div#title h2{    
    font-size: calc(140px * 0.35);
  }
  div#title h2 span{
    font-size: calc(80px * 0.4);
  }
  div#title .mouse a{    
    background-image: url(../img/swipe_up.svg);
    width: 50px;
    height: 50px;
    border: transparent;
  }
  div#title .mouse a::before{
    display: none;
  }
  /*  about  */
  section#about{    
    height: fit-content;
  }
  section#about .profile{ 
    display: flex;
    flex-direction: column;
  }
  section#about .profile .left img{
    width: calc(400px * 0.7);
  }
  section#about .profile .left ul li a{  
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: calc(18px * 0.8);
  }
  section#about .profile .right{    
    display: flex;
    flex-direction: column;
  }
  section#about .profile .right li{
    font-size: calc(20px * 0.8) !important;
  }
  section#about .profile .right .ab h3{  
    margin: 30px 0 10px;
  }
  section#about .profile .right .cre h3{
    margin: 10px 0;
  }
  section#about .profile .ej h3{    
    margin: 10px 0;
  }

  /*  skill  */
  section#skill{
    height: fit-content;
  }
  section#skill .wrap ul li{
    width: 100%;
    font-size: calc(18px * 0.7);
  }
  section#skill .wrap ul li::before{   
    width: 20px;
    height: 20px;
  }
  section#skill .wrap ul li span{    
    width: 50% !important;
    height: 8px !important;
    margin-left: 10px !important;
    background-color: transparent;
  }
  section#skill .wrap ul li span::before{    
    height: 8px !important;
  }
  section#skill .wrap ul li span.html::before{
    width: calc(80% * 0.8);
  }
  section#skill .wrap ul li span.css::before{
    width: calc(75% * 0.8);
  }
  section#skill .wrap ul li span.jq::before{
    width: calc(30% * 0.8);
  } 
  section#skill .wrap ul li span.java::before{
    width: calc(25% * 0.8);
  }
  section#skill .wrap ul li span.sass::before{ 
    width: calc(80% * 0.8);
  }
  section#skill .wrap ul li span.web::before{
    width: calc(90% * 0.8);
  }
  section#skill .wrap ul li span.zen::before{
    width: calc(80% * 0.8);
  }
  section#skill .wrap ul li span.ps::before{
    width: calc(90% * 0.8);
  }
  section#skill .wrap ul li span.ai::before{
    width: calc(70% * 0.8);
  }
  section#skill .wrap ul li span.id::before{
    width: calc(20% * 0.8);
  }
  section#skill .wrap ul li span.pr::before{
    width: calc(85% * 0.8);
  }
  section#skill .wrap ul li span.vue::before{
    width: calc(10% * 0.8);
  }
  section#skill .wrap ul li span::after{
    font-size: calc(17px * 0.7) !important;
    position: absolute;
    transform: translateY(-2px) !important;
  }
  section#skill .wrap ul li span.html::after{
    right: 19%;
  }
  section#skill .wrap ul li span.css::after{
    left: 60%;
  }
  section#skill .wrap ul li span.jq::after{
    left: 25%;
  } 
  section#skill .wrap ul li span.java::after{
    left: 21%;
  }
  section#skill .wrap ul li span.sass::after{ 
    right: 19%;
  }
  section#skill .wrap ul li span.web::after{
    right: 10%;
  }
  section#skill .wrap ul li span.zen::after{
    right: 19%;
  }
  section#skill .wrap ul li span.ps::after{
    right: 12%;
  }
  section#skill .wrap ul li span.ai::after{
    right: 26%;
  }
  section#skill .wrap ul li span.id::after{
    left: 17%;
  }
  section#skill .wrap ul li span.pr::after{
    right: 14%;
  }
  section#skill .wrap ul li span.vue::after{
    left: 18px;
  }
  /*  portfolio  */
  section#portfolio{
    height: fit-content;
  }
  section#portfolio .wrap ul.list li{
    
  }
  section#portfolio .wrap ul.list li img{    
    grid-column: 1;
    grid-row: 1;
  }
  section#portfolio .wrap ul.list li > ul{
    
  grid-row: 2;
  text-align: center;
  }
  section#portfolio .wrap ul.list li > ul li.h3{    
    font-size: calc(45px * 0.6);
    width: fit-content;
    align-self: center;
  }
  section#portfolio .wrap ul.list li > ul li{
    font-size: calc(23px * 0.7);
  }
  section#portfolio .wrap ul.list li .view a{  
    width: 110px;
    height: 30px;
    font-size: calc(15px * 0.8);
    line-height: 30px;
  }
  section#portfolio .slick-dots{
    margin: 0 auto;
  }
  section#portfolio .slick-dots li button::before{   
    font-size: calc(18px * 0.8);
    content: "●" !important;
  }
  .slick-prev,.slick-next{
    display: none !important;
  }
  section#contact .wrap{
    flex-direction: column;
  }
  section#contact .box1{  
    width: 310px;
    height: 150px;
    row-gap: 10px;
    margin-bottom: 15px;
  }
  section#contact .box1 h2{
    font-size: 30px;
  }
  section#contact .box1 h3{
    font-size: calc(30px * 0.8);
  }
  section#contact .box2 {  
    width: 310px;
    height: 150px;
  }
  section#contact .box2 p a{   
    font-size: 14px;
  }
  section#contact .box2 p .mail{ 
    left: 20%;
    top: 23px;
  }
  section#contact .box2 p .call{
    left: 51%;
    top: 24px;
  }
  /*  footer  */
  section#footer .wrap p{  
    font-size: 9px;
  }
  footer a.top{
    display: none;
  }
}